<tr>
  <td><%= contract.customer %></td>
  <td><%= date_to_human(contract.started_at) %></td>
  <td><%= date_to_human(contract.finished_at) %></td>
  <td><%= contract.price %></td>
  <td><%= contract.address %></td>
</tr>
