<section>
  <h1>Contract</h1>
  <%= render 'errors' %>
  <p><%= form_for @contract do |f| %></p>
    <div class="form-group">
      <%= f.label :customer %>
      <%= f.text_field :customer, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :started_at %>
      <%= f.text_field :started_at, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :deadline %>
      <%= f.select :deadline, Contract::DEADLINE, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>
    </div>
      <div class="form-group">
        <%= f.label :equipment_ids, 'Equipamentos' %>
        <%= f.collection_check_boxes :equipment_ids, @equipment, :id, :name, class: 'form-control' %>
      </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :contact %>
      <%= f.text_field :contact, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit 'Criar Contrato' %>
    </div>
  <% end %>

</section>
