<section>
  <h1>Contract</h1>
  <%= render 'errors' %>
  <p><%= simple_form_for @contract do |f| %></p>
      <%= f.input :customer, label: 'Cliente', class: 'form-control' %>

      <%= f.input :started_at, label: 'Início', class: 'form-control', as: :string %>

      <%= f.input :deadline, label: 'Prazo', collection: Contract::DEADLINE, class: 'form-control' %>

      <%= f.input :price, label: 'Preço', class: 'form-control' %>

      <%= f.association :equipment, as: :check_boxes, label: 'Equipamentos', class: 'form-control' %>

      <%= f.input :address, label: 'Endereço', class: 'form-control' %>

      <%= f.input :contact, label: 'Contato', class: 'form-control' %>

      <%= f.submit 'Criar Contrato' %>

  <% end %>

</section>
