<h3><%= @contract.customer %> | Contrato nº <%= @contract.id %></h3>

<table class='table table-striped'>
  <tr>
    <th width='20%'>Cliente</th>
    <td><%= @contract.customer %></td>
  </tr>
  <tr>
    <th>Contato</th>
    <td><%= @contract.contact %></td>
  </tr>
  <tr>
    <th>Início</th>
    <td><%= date_to_human(@contract.started_at) %></td>
  </tr>
  <tr>
    <th>Fim</th>
    <td><%= date_to_human(@contract.finished_at) %></td>
  </tr>
  <tr>
    <th>R$</th>
    <td><%= @contract.price %></td>
  </tr>
  <tr>
    <th>Endereço</th>
    <td><%= @contract.address %></td>
  </tr>
  <tr>
    <th>Equipamentos</th>
    <td>
      <dl>
        <% @contract.equipment.each do |e| %>
          <dd>&bull; <%= e.name %></dd>
        <% end %>
      </dl>
    </td>
  </tr>
</table>

<div class="pull-right">
  <%= link_to 'Recibo de entrega', delivery_receipt_contract_path(@contract), method: :post, class: 'btn btn-info' if @contract.delivery_receipt.blank? %>
  <%= link_to 'Recibo de devolução', return_receipt_contract_path(@contract), method: :post, class: 'btn btn-info' unless @contract.delivery_receipt.blank? %>
</div>

<%= link_to 'Voltar', contracts_path, class: 'btn btn-info' %>
