<h1 ><%= @equipment.name %></h1>

<dl class='dl-horizontal'>
  <p>
    <dt width='20%'>Número de Registro:</dt>
    <dd ><%= @equipment.serial_number %></dd>
  </p>
  <p>
    <dt>Marca:</dt>
    <dd><%= @equipment.brand %></dd>
  </p>
  <p>
    <dt>Fornecedor:</dt>
    <dd><%= @equipment.supplier %></dd>
  </p>
  <p>
    <dt>Observações:</dt>
    <dd><%= @equipment.notes %></dd>
  </p>
</dl>
<hr>
<h2>Preços</h2>
<table id='prices' class='table table-striped'>
  <tr>
    <th>Prazo</th>
    <th>Preço</th>
  </tr>
  <% @prices.each do |price| %>
  <tr>
    <td><%= price.deadline %></td>
    <td><%= price.value %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Voltar', equipment_index_path %>
