<h2> Cadastro de Preço </h2>
<%= render 'errors' %>

<%= simple_form_for @price do |f| %>
  <div class="form-group">
    <%= f.input :equipment_id, collection: @equipment, input_html: { class: 'form-control'}, label: 'Equipamento' %>
  </div>
  <div class="form-group">
    <%= f.input :deadline, collection: [3,7,15,30], label: 'Prazo', input_html: { class: 'form-control' }%>
  </div>
  <div class="form-group">
    <%= f.label :value, 'Valor' %>
    <%= f.text_field :value, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit input_html: { class: 'btn btn-default' } %>
  </div>
<% end %>
